.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .header-container {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-container h2 {
    margin: 0;
  }
  